*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 10px;
}
ul li{
    display: inline-block;
}
.logo{
    width: 40px;
}
ul li a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}
.text{
    color: white;
}
h2{
    font-size: 40px;
    font-style: oblique;
}
p{
    font-size: 17px;
    font-style: italic;
    margin: 10px;
}
.text a{
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: white;
}
.content .image{
    width: 30%;
}
.content .image img{
    width: 250px;
}
.icons{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}